body {
    background-color: orange;
}


ul { 
    list-style: none;
    text-decoration: none;
}

ul:hover {
    list-style: none;
    text-decoration: none;
}

.nav{
    background-color: black;
    min-height: 60px;
    color: white;
    text-align: center;
    padding: 10px;
}

.dropdown {
    padding-top: 10px;
}

.side {
    background-color: brown;
    min-height: 150px;
    padding-right: 15px;
}

.list-group {
    padding-right:40px; 
}
.maparea { 
    min-height: 150px;
}

.input-group {
    padding-top: 15px;
}

#map{
    background-color: aqua;
}

  

.sidenav {
    height: 100%;  
    width: 0;  
    position: fixed;  
    z-index: 1;  
    top: 0; 
    left: 0;
    background-color: #111;  
    overflow-x: hidden; 
    padding-top: 60px;  
    transition: 0.5s;  
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
 
.sidenav a:hover {
    color: black;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
 

#map {
    margin-top: 10px;
    min-height: 500px;
    transition: margin-left .5s;
    padding: 20px;
}

.foursquare {
    position: absolute;
    bottom: 2px;
    width: 60%;
    right: 0;
}

.iw_title {
    font-size: 1.3em;
}

.iw_subtitle {
    font-size: 1em;
}

.iw_address_title {
    margin-bottom: 2px;
    font-size: .95em;
}

.iw_address {
    margin-bottom: 0;
    font-size: .9em;
}

p {
    color: red;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}